body {
  padding: 129px 21px;
  gap: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Public Sans", sans-serif;
}

.bg-image {
  width: 335px;
  height: 432px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 5px;
  padding: 43px 26px;
  color: white;
}

.bg1 {
  background-image: url(./imagens/rome.png);

}

.bg2 {
  background-image: url(./imagens/boat.png);
}

.bg3 {
  background-image: url(./imagens/sand-and-sea.png);
}

.bg4 {
  background-image: url(./imagens/starry-night.png);
}

@media (max-width: 768px) {
  body {
    flex-direction: column;
    gap: 0;
    justify-content: center;
    align-items: center;
  }
}