@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body{
  background-color: var(--background-color);
  height: 100vh;
  font-family: kumbh-sans, sans-serif;
  font-size: 18px;
}

hr {
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  background-color: #fff;
  border-radius: 10px;
  margin: 20px;
  width: 330px;
  height: 350px;
}

.card .info-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  height: 100%;
}

.card .info-perfil img {
  margin-top: 20px;
  border-radius: 50%;
}

.card .info-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-bottom: 30px;
  text-align: center;
}

.info-list .info .numero,
.card .info-perfil p {
  font-weight: 700;
}

.card .info-list .idade,
.card .info-perfil .city,
.numero .info .counter-type {
  color: var(--text-color);
}